/* input.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Readex+Pro:wght@160..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@160..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Button Class */
.btn-custom {
  @apply inline-block text-center self-start py-2 px-4 xl:px-5 bg-black 
    border-white border-[2px] hover:shadow-black rounded-lg 
    text-slate-50 shadow-md duration-500 
    text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px] 2xl:text-[20px];
}

@layer utilities {







  /* join us classes  */
  .joinus {
    @apply font-readex md:text-[40px] xl:text-[50px] text-[35px] font-extrabold 
            md:px-7 px-7  w-full max-w-[300px] xl:max-w-[400px]
            leading-tight 
  }
  .join-us-button {
    @apply bg-black text-white text-sm font-medium py-2 px-5 
           rounded-lg hover:bg-gray-800 focus:outline-none focus:ring-2 
           focus:ring-gray-300 transition-all;
  }
  .joinus-main {
    @apply bg-[#A4DCAA] my-5 ;
  }
  .joinus-main2 {
    @apply flex md:flex-row flex-col py-10 md:justify-between justify-center items-center px-14;
  }
  .joinus-main3 {
    @apply md:w-[60%] w-[90%]  ;
  }
  .joinus5 {
    @apply md:w-[45%] xl:w-[35%] w-[90%]  font-readex;
  }
  .joinus6 {
    @apply flex flex-col gap-5 py-10 ;
  }
  .joinus7 {
    @apply md:text-[35px] text-[25px] font-bold;
  }
/* Reusable 'input-field' class */
.input-field {
  @apply py-2 w-[230px] md:w-[80%] lg:w-[75%] xl:w-[65%] 2xl:w-[330px] 
         rounded-lg bg-transparent border-[1px] border-black 
         placeholder-gray-600 text-[10px] lg:text-[15px] pl-5 xl:pl-7 
         2xl:pl-9 focus:outline-none focus:border-black focus:text-left;
}
  /* join us classes end  */











  /* cards start */
  .cards {
    @apply flex flex-col bg-white shadow-lg  overflow-hidden rounded-lg p-2 shadow-black;
  }
  .cards-color-header {
    @apply bg-[#A4DCAA] w-full h-auto p-5 lg:p-3 rounded-t-lg;
  }
  .card-body {
    @apply flex flex-row justify-between items-center;
  }
  .card-body-text {
    @apply text-[15px] md:text-[17px] lg:text-[19px] xl:text-[21px] 2xl:text-[23px];
  }
  .card-p {
    @apply space-x-1;
  }
  .card-span {
    @apply font-bold;
  }
  .html-div {
    @apply flex flex-row justify-between py-16 text-[30px] md:text-[33px] 2xl:text-[] items-center gap-2 lg:gap-1;
  }
  .html-p {
    @apply font-semibold leading-9 2xl:leading-tight tracking-wide flex-1;
  }
  .footer-div {
    @apply flex flex-row pt-3 pb-1 justify-between items-center text-[14px] md:text-[16px] lg:text-[16px] xl:text-[17px] 2xl:text-[px] gap-2;
  }
  .web-development-bold {
    @apply font-extrabold;
  }
  .main-cards {
    @apply w-full h-auto py-8 justify-center items-center;
  }

  /* card end  */

/* full screen carsda start */
.full-main {
  @apply max-w-[350px] md:max-w-[650px] lg:max-w-[1000px]; 
}
/* full screen cards end  */









/* find courses section start  */

.find-main{
  @apply w-full h-auto py-5 px-8 
}
.find-main2{
  @apply flex md:flex-row flex-col justify-between items-center 
}
.find-img-div{
  @apply md:w-1/2 w-full flex justify-center px-10
}
.find-img{
  @apply w-full  object-cover 
}
.find-div-2{
  @apply md:w-[55%] w-full lg:px-20 md:px-16 px-9 flex items-center   not applyed
}
.find-div-1-main{
  @apply md:w-[55%] w-full lg:px-20 md:px-16 px-9 flex items-center
}
.find-div-2-main{
  @apply flex flex-col gap-5 md:justify-center justify-start 
}
.find-div-heading{
  @apply font-extrabold font-readex xl:text-[60px] 2xl:text-[80px] lg:text-[50px] md:text-[35px] text-[30px]
}
.find-div-p{
  @apply md:w-full w-11/12 tracking-tighter leading-10 lg:leading-[60px] 2xl:leading-[70px]
}
.find-heading-span1{
  @apply inline-block mr-3
}
.find-heading-img1{
  @apply 2xl:w-56 xl:w-40 lg:w-40 md:w-24 w-16 lg:mt-[-20px] md:mt-[-15px] mt-[-10px] flex
}
.find-heading-span2{
  @apply inline-block lg:mt-[-20px]
}
.find-heading-span3{
  @apply inline-block
}
.find-heading-img2{
  @apply lg:w-40 md:w-28 w-16 lg:mt-[-20px] md:mt-[-15px] mt-[-10px] flex
}
.find-paragraph{
  @apply text-[12px] lg:text-[20px] leading-loose xl:text-[20px] 2xl:text-[23px]
}
.find-buttons-div{
  @apply flex flex-row gap-3
}

/* find courses section end  */
 
}
